.places__place {
  width: 100%;
  border: aqua solid 1px;
  display: grid;
  grid-template: repeat(2, auto)/1fr 1fr ;
  grid-template-areas: "place__title place__website" 
                       "place__image place__text"; 
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .places__place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .places__place {
    grid-template: 4fr/1fr;
    grid-template-areas: "place__title"
                         "place__website"
                         "place__image" 
                         "place__text"; 
    row-gap: 32px;
  }
}
