.footer {
  margin: 24px 48px 0px;
  padding-bottom: 24px ;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 16px 24px 0px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}



